In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(f'{'C:/Users/Tesla Laptops/Downloads'}/D3_Heart_Dataset.csv')

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Gender          918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [5]:
X = data.drop("HeartDisease",axis=1)

In [6]:
Y = data["HeartDisease"]

In [7]:
X['Gender'].unique()

array(['M', 'F'], dtype=object)

In [21]:
X['Gender'] = X['Gender'].replace('M',0)
X['Gender'] = X['Gender'].replace('F',1)

,Age,Gender,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,0,0,140,289,0,0,172,0,0.0,0
1,49,1,1,160,180,0,0,156,0,1.0,1
2,37,0,0,130,283,0,1,98,0,0.0,0
3,48,1,2,138,214,0,0,108,1,1.5,1
4,54,0,1,150,195,0,0,122,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,3,110,264,0,0,132,0,1.2,1
914,68,0,2,144,193,1,0,141,0,3.4,1
915,57,0,2,130,131,0,0,115,1,1.2,1
916,57,1,0,130,236,0,2,174,0,0.0,1
917,38,0,1,138,175,0,0,173,0,0.0,0

In [9]:
X['Gender'].unique()ChestPainType

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [22]:
X['ChestPainType'] = X['ChestPainType'].replace('ATA',0)
X['ChestPainType'] = X['ChestPainType'].replace('NAP',1)
X['ChestPainType'] = X['ChestPainType'].replace('ASY',2)
X['ChestPainType'] = X['ChestPainType'].replace('TA',3)

,Age,Gender,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,0,0,140,289,0,0,172,0,0.0,0
1,49,1,1,160,180,0,0,156,0,1.0,1
2,37,0,0,130,283,0,1,98,0,0.0,0
3,48,1,2,138,214,0,0,108,1,1.5,1
4,54,0,1,150,195,0,0,122,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,3,110,264,0,0,132,0,1.2,1
914,68,0,2,144,193,1,0,141,0,3.4,1
915,57,0,2,130,131,0,0,115,1,1.2,1
916,57,1,0,130,236,0,2,174,0,0.0,1
917,38,0,1,138,175,0,0,173,0,0.0,0

In [11]:
X['RestingECG'].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [23]:
X['RestingECG'] = X['RestingECG'].replace('Normal',0)
X['RestingECG'] = X['RestingECG'].replace('ST',1)
X['RestingECG'] = X['RestingECG'].replace('LVH',2)

In [13]:
X['ExerciseAngina'].unique()

array(['N', 'Y'], dtype=object)

In [24]:
X['ExerciseAngina'] = X['ExerciseAngina'].replace('N',0)
X['ExerciseAngina'] = X['ExerciseAngina'].replace('Y',1)

In [15]:
X['ST_Slope'].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [25]:
X['ST_Slope'] = X['ST_Slope'].replace('Up',0)
X['ST_Slope'] = X['ST_Slope'].replace('Flat',1)
X['ST_Slope'] = X['ST_Slope'].replace('Down',2)

In [26]:
X

,Age,Gender,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,0,0,140,289,0,0,172,0,0.0,0
1,49,1,1,160,180,0,0,156,0,1.0,1
2,37,0,0,130,283,0,1,98,0,0.0,0
3,48,1,2,138,214,0,0,108,1,1.5,1
4,54,0,1,150,195,0,0,122,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,3,110,264,0,0,132,0,1.2,1
914,68,0,2,144,193,1,0,141,0,3.4,1
915,57,0,2,130,131,0,0,115,1,1.2,1
916,57,1,0,130,236,0,2,174,0,0.0,1
917,38,0,1,138,175,0,0,173,0,0.0,0

In [33]:
from sklearn.model_selection import train_test_split 
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics 
from sklearn.metrics import confusion_matrix, classification_report
from sklearn import metrics 
from sklearn.metrics import confusion_matrix, classification_report

X_train,X_test,Y_train,Y_test = train_test_split(X, Y,test_size=0.20,random_state=0) 
print(X_train.shape )
print(X_test.shape) 
print(Y_train.shape) 
print(Y_test.shape)

(734, 11)
(184, 11)
(734,)
(184,)

In [30]:
# Creating Gaussian Naive Bayes Object
classifer1 = GaussianNB() 
# Training the model
model1 = classifer1.fit(X_train, Y_train)

In [34]:
# Evaluating the model
Y_pred1 = model1.predict(X_test) 
print("The accuracy is "+str(metrics.accuracy_score(Y_test,Y_pred1)*100)+"%") 
print(confusion_matrix(Y_test, Y_pred1))

The accuracy is 83.15217391304348%
[[60 17]
 [14 93]]

In [35]:
target_names = ['class 0', 'class 1'] 
print(classification_report(Y_test, Y_pred1, target_names=target_names))

              precision    recall  f1-score   support

     class 0       0.81      0.78      0.79        77
     class 1       0.85      0.87      0.86       107

    accuracy                           0.83       184
   macro avg       0.83      0.82      0.83       184
weighted avg       0.83      0.83      0.83       184

In [44]:
# Creating Gaussian Naive Bayes Object
classifer2 = GaussianNB(priors=[0.25, 0.75]) 
# Training the model
model2 = classifer2.fit(X_train, Y_train) 

# Evaluating the model
Y_pred2 = model2.predict(X_test) 
print("The accuracy is "+str(metrics.accuracy_score(Y_test,Y_pred2)*100)+"%") 
print(confusion_matrix(Y_test, Y_pred2))

The accuracy is 84.23913043478261%
[[58 19]
 [10 97]]

In [45]:
from sklearn.naive_bayes import MultinomialNB

# Creating Multinomial Naive Bayes Object
classifer3 = MultinomialNB() 

# Training the model
model3 = classifer3.fit(X_train, Y_train) 

# Evaluating the model
Y_pred3 = model3.predict(X_test) 
print("The accuracy is "+str(metrics.accuracy_score(Y_test,Y_pred3)*100)+"%") 
print(confusion_matrix(Y_test, Y_pred3))

ValueError: Negative values in data passed to MultinomialNB (input X)

In [56]:
R = X.copy()  # Make a copy of X first, so X isn't affected
R.drop("Age", axis=1, inplace=True)
R.drop("RestingBP", axis=1, inplace=True)
R.drop("Cholesterol", axis=1, inplace=True)
R.drop("Oldpeak", axis=1, inplace=True)
R.drop("MaxHR", axis=1, inplace=True)
R

     Gender  ChestPainType  FastingBS  RestingECG  ExerciseAngina  ST_Slope
0         0              0          0           0               0         0
1         1              1          0           0               0         1
2         0              0          0           1               0         0
3         1              2          0           0               1         1
4         0              1          0           0               0         0
..      ...            ...        ...         ...             ...       ...
913       0              3          0           0               0         1
914       0              2          1           0               0         1
915       0              2          0           0               1         1
916       1              0          0           2               0         1
917       0              1          0           0               0         0

[918 rows x 6 columns]

In [63]:
import numpy as np

# Check for negative values in X_train
print("Minimum value in X_train:", np.min(X_train))
print("Minimum value in X_test:", np.min(X_test))

Minimum value in X_train: -2.6
Minimum value in X_test: -2.0

In [64]:
from sklearn.preprocessing import MinMaxScaler

# Scale data to [0, 1]
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Use MultinomialNB with scaled data
from sklearn.naive_bayes import MultinomialNB

classifier = MultinomialNB()
model = classifier.fit(X_train_scaled, Y_train)
Y_pred = model.predict(X_test_scaled)

# Evaluate
print("Accuracy:", metrics.accuracy_score(Y_test, Y_pred) * 100, "%")

Accuracy: 80.97826086956522 %